#footer {
    min-height: 200px;
}

.links a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.connect-us a {
    background-color: #0D28A6;
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

.connect-us a i {
    color: white;
}