#loginSection {
    font-weight: 400;
}


#loginSection .rightside {
    background-color: #0D28A6;
}

#loginSection .rightside h1 {
    color:#FFFFFF;
    position: absolute;
    top: 10%;
    left: 20%;
}

#loginSection .rightside .image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80%;
    height: 80%;
}

#loginSection .rightside img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
    
}

#loginSection .leftside h1 {
    font-size: 24px;
    line-height: 36px;
}

#loginSection .leftside form {
    font-size: 14px;
    width: 370px;
}

#loginSection .leftside form .rectangle {
    background-color: #CFD4ED;
    height: 34px;
    width: 100px;
}

#loginSection .leftside form ::placeholder {
    font-size: 14px;
}

#loginSection .leftside form button {
    background-color: #0D28A6;
    color: white;
    width: 100%;
}


@media only screen and (max-width: 576px) {
    #loginSection .leftside form {
        margin-top: 50px;
        width: 328px;
    }
}

@media only screen and (max-width: 370px){
    #loginSection .leftside form {
        width: 100%;
    }

    #loginSection .leftside form p {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


